<app-header></app-header>
<!-- Fab Button -->
<div class="fab-container">
  <div class="fab shadow">
    <div class="fab-content">
      <span class="" (click)="open(content)"><i class="fas fa-plus "></i></span>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pen down your thoughts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="diaryForm">
      <textarea name="" id="title" rows="1" placeholder="A title for your thoughts" class="form-control" formControlName="title" #title></textarea>
      <textarea rows="4" placeholder="Write how you feel" class="form-control" formControlName="text" #text></textarea>
    </form>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline save-btn" (click)="onSave()">Save</button>
  </div>
</ng-template>

<!-- Edit Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pen down your thoughts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="diaryForm" >
      <textarea name="" id="title" cols="60" rows="1" placeholder="A title for your thoughts" class="form-control" formControlName="title" #title value={{editData.title}}></textarea>
      <textarea rows="4" cols="60" placeholder="Write how you feel" class="form-control" formControlName="text"  value={{editData.text}}></textarea>
    </form>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline save-btn" (click)="onSave()">Save</button>
  </div>
</ng-template>

<!-- Cards -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4 cards">
    <div class="col" *ngFor="let diary of diaries; let i = index" >
      <div class="card card-one" [style.background-color] = "i > 2? 'rgb(255,246,251)':'rgb(255,246,251)'" (click)="onEdit(title)">
        <div class="card-body">
          <h5 class="card-title">{{diary.title}}</h5>
          <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">{{diary.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>





 